textarea {
    width: 90%;
    height: auto;
    margin: 20px;
    display: block;
}

.controller {
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
    height: 80vh
}

.editor {
    display: flex
}


pre {
    text-align: left;
    overflow-x: auto
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #aaa;
}

.config {
    /* width: 33% */
}


.motorRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portCell{
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(79, 79, 79, 0.52);
    height: 120px;
    width: 120px;
}
.motorPad{
    padding: 30px;
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 150px;
}


.portButton{
    border: gray solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    margin-bottom: 15px;
}

.activeButton {
    background: #ddd4;
    border: yellow 1px solid;
}


.configWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
}


.configurationTable {
    height: 200px;
}

.configurationTable tr {
    height: 100px
}

.bold {
    font-weight: 700;
    color: yellow;
}

.btn {
    padding: 10px;
    margin: 10px
}

.connect {
    background-color: #4CAF50;
}