textarea{
    width: 90%; height: auto;
    margin: 20px;
    display: block;
}

.controller{ display: flex; flex-direction: row;}
.column { flex-direction: column; height: 80vh}
.editor { display: flex }

.active { background: #ddd}

pre{ text-align: left; overflow-x: auto }

.clickable{ cursor: pointer; }
.clickable:hover{ background-color: #ccc; }

.config{ width: 33% }

.config table td { border: 1px solid black; width: 110px}
.config table td:first-child { width: 50px}
.config table td:nth-child(1) { width: 50px}
.config table td:last-child { width: 200px}

.configurationTable{
    height: 200px;
}
.configurationTable tr { height: 100px }

.bold{ font-weight: 700; }