.controller{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.camera{
    max-height: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.statuses{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.status{ margin: 3px; padding: 10px; background: #eee7; color: white}

.joystick{
    background: var(--button-bg);
    border-radius: 100px;
    display: flex;
    height: 200px;
}


.placeholder{
    display: flex;
    flex-grow: 1;
    position: relative;
}

.controllerButtons{
    display: flex
}

.log {
    background: var(--log-bg);
    padding: 10px;
    height: 600px;
}

.matrixRow {
    display: flex;
    gap: 10px; /* Adjust the space between cells */
}

.matrix {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the space between rows */
}

.matrixCell {
    width: 60px; /* Adjust cell width */
    height: 60px; /* Adjust cell height */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; Cell border */
  }

  .button{width: 100%; height: 100%; border: 0; border-radius: 30px; transition: all 0.1s ease;}
  .buttonPressed{background: #f6f04f74}
  .buttonRunning{ box-shadow: 0 0 0 4px rgba(57, 255, 57, 1); transition: all 0.1s ease; }
  .buttonError{ box-shadow: 0 0 0 4px rgba(255, 37, 37, 1); transition: all 0.1s ease; }

.cameraOn{}
.cameraOff{}
.cameraButtonWrapper{
    position: absolute;
    top: 0px; left: 0px; width: 100%
}
